
%h2.page-header netiquette
.content
  %p
    Fra gli utenti dei servizi telematici di rete, prima fra tutte la   rete Internet,  si sono sviluppati nel corso del tempo una serie di "
    %strong> tradizion
    i" e di "
    %strong> principi di buon comportamento
    " (galateo) che vanno collettivamente sotto il nome di "
    %strong> netiquette
    ".   Tenendo ben a mente che la entita' che fornisce l'accesso ai servizi  di  rete (provider, istituzione pubblica, datore di lavoro, etc.) puo'   regolamentare in modo ancora piu' preciso i doveri dei propri utente,   riportiamo in questo documento un breve sunto dei principi fondamentali   della "
    %strong> netiquette
    ", a cui tutti sono tenuti ad adeguarsi.
  %ol
    %li
      %p
        %strong Quando si arriva in un nuovo newsgroup o in una nuova lista   di distribuzione via posta elettronica, e' bene leggere i messaggi che   vi circolano per almeno due settimane prima di inviare propri messaggi   in giro per il mondo: in tale modo ci si rende conto dell'argomento e   del metodo con cui lo si tratta in tale comunita'.
    %li
      %p
        %strong Se si manda un messaggio, e' bene che esso sia sintetico e   descriva in modo chiaro e diretto il problema. Specificare sempre, in   modo breve e significativo, l'oggetto (campo "Subject") del testo   incluso nella mail. Se si utilizza un "signature file", mantenerlo breve   e significativo.
    %li
      %p
        %strong Non divagare rispetto all'argomento del newsgroup o della lista di distribuzione via posta elettronica.
    %li
      %p
        %strong Evitare, quanto piu' possibile, broadcast del proprio   messaggio verso molte mailing list (o newsgroups). Nella stragrande   maggioranza dei casi esiste una ed una sola mailing list che costituisce   il destinatario corretto, e che include tutti e soli gli utenti che   sono effettivamente interessati.
    %li
      %p
        %strong Se si risponde ad un messaggio, evidenziare i passaggi   rilevanti del messaggio originario, allo scopo di facilitare la   comprensione da parte di coloro che non lo hanno letto, ma non riportare   mai sistematicamente l'intero messaggio originale, se non quando sia   necessario.
    %li
      %p
        %strong Non condurre "guerre di opinione" sulla rete a colpi di   messaggi e contromessaggi: se ci sono diatribe personali, e' meglio   risolverle via posta elettronica in corrispondenza privata tra gli   interessati.
    %li
      %p
        %strong Non pubblicare mai, senza l'esplicito permesso dell'autore, il contenuto di messaggi di posta elettronica.
    %li
      %p
        %strong Non pubblicare messaggi stupidi o che semplicemente prendono   le parti dell'uno o dell'altro fra i contendenti in una discussione.   Leggere sempre le FAQ (Frequently Asked Questions) relative   all'argomento trattato prima di inviare nuove domande.
    %li
      %p
        %strong Non inviare tramite posta elettronica messaggi pubblicitari o comunicazioni che non siano state sollecitate in modo esplicito.
    %li
      %p
        %strong Non essere intolleranti con chi commette errori sintattici o   grammaticali. Chi scrive, e' comunque tenuto a migliorare il proprio   linguaggio in modo da risultare comprensibile alla collettivita'.
  %h3 Alle regole precedenti, vanno aggiunti altri criteri che derivano direttamente dal buon senso:
  %ul
    %li  La rete e' utilizzata come strumento di lavoro da molti degli   utenti. Nessuno di costoro ha tempo per leggere messaggi inutili o   frivoli o di carattere personale, e dunque non di interesse generale.
    %li Qualunque  attivita' che appesantisca il traffico o i servizi sulla  rete, quali  per esempio il trasferimento di archivi voluminosi o  l'invio di messaggi  di posta elettronica contenenti grossi allegati ad  un gran numero di  destinatari, deteriora il rendimento complessivo  della rete. Si  raccomanda pertanto di effettuare queste operazioni in  modo da ridurre  il piu' possibile l'impatto sulla rete. In particolare  si raccomanda di:  effettuare i trasferimenti di archivi in orari  diversi da quelli di  massima operativita' (per esempio di notte),  tenendo presenti le  eventuali differenze di fuso orario; non inviare  per posta elettronica  grosse moli di dati; indicare (ove possibile) la  locazione (URL) dei  dati nel messaggio, rendendoli disponibili per il  prelievo o la  consultazione sulla rete.
    %li Vi sono sulla rete una serie di siti server (file server) che  contengono, in copia aggiornata, documentazione, software ed altri  oggetti disponibili sulla rete. Informatevi preventivamente su quale sia  il nodo server piu' accessibile per voi. Se un file e' disponibile su  di esso o localmente, non vi e' alcuna ragione per prenderlo dalla rete,  impegnando inutilmente la linea e impiegando un tempo sicuramente  maggiore per il trasferimento.
    %li Il software reperibile sulla rete puo' essere coperto da brevetti  e/o vincoli di utilizzo di varia natura. Leggere sempre attentamente la  documentazione di accompagnamento prima di utilizzarlo, modificarlo o  re-distribuirlo in qualunque modo e sotto qualunque forma.
  %h3 Comportamenti palesemente scorretti da parte di un utente, quali:
  %ul
    %li violare la sicurezza di archivi e computers della rete;
  %div{:align => "left"}
    %ul
      %li violare la privacy di altri utenti della rete, leggendo o intercettando la posta elettronica loro destinata;
      %li compromettere  il funzionamento della rete e degli apparecchi che la  costituiscono con  programmi (virus, trojan horses, ecc.) costruiti  appositamente;
  %p
    %strong costituiscono dei veri e propri crimini elettronici e come tali sono punibili dalla legge.
  %p
    %em (questa Netiquette si trova su
    %em
      %a{:href => "http://www.nic.it/tutto-sul.it/netiquette"} Registro.it
    %em )