%h2.page-header
  Privacy
.content
  %h3 Perché questo avviso
  %p{style:  'text-align: justify;'}
    Il [Name Here] fornisce agli  utenti che consultano il sito le  seguenti informazioni relative al  trattamento dei loro dati personali. L’informativa  è resa, ai sensi  dell'art. 13 del d.lgs. n. 196/2003, Codice in materia  di protezione  dei dati personali, e alla Raccomandazione n. 2/2001  delle autorità  europee per la protezione dei dati personali, a coloro  che utilizzano  il sito web istituzionale del [Name Here].
    %br
    L’interessato,   letta l’informativa sotto riportata, accetta espressamente la   registrazione ed il trattamento dei propri dati, nelle modalità sotto   indicate.
  %h3 Il “Titolare “ del trattamento
  %p{style:  'text-align: justify;'}
    A seguito della consultazione di questo sito possono essere trattati dati relativi a persone identificate o identificabili.
    %br
    Il  “titolare” del loro trattamento è il Consorzio Sistema Bibliotecario Nord Ovest,  con sede in via Valassina 1 - 20037 Paderno Dugnano. Responsabile del trattamento dei dati è Comperio srl.
  %h3 Luogo di trattamento dei dati
  %p{style:  'text-align: justify;'} I trattamenti connessi alla navigazione in questo sito hanno luogo   presso l'archivio informatico centrale di Comperio srl, e  sono curati  solo da personale tecnico incaricato del  trattamento, oppure da  eventuali incaricati di occasionali operazioni di  manutenzione.
  %h3 Tipi di dati trattati
  %h5 Dati per l'erogazione del servizio
  %p{style:  'text-align: justify;'} Al fine di garantire il servizio di prestito libri e la fruizione dei servizi messi a disposizione dalle biblioteche sono conservati dati anagrafici atti ad identificare e contattare gli utenti.
  %p{style:  'text-align: justify;'} Tali dati sono manutenuti dagli operatori delle singole biblioteche ed utilizzati per a registrazione dei prestiti, la partecipazione ad attività istituzionali, per la comunicazione delle iniziative promosse dalle biblioteche e dalle relative amministrazioni comunali inerenti  i campi di competenza delle biblioteche e per analisi statistiche sulle attività delle biblioteche.
  %p{style:  'text-align: justify;'} I dati raccolti non includono dati sensibili.
  %h5 Dati di navigazione
  %p{style:  'text-align: justify;'}
    A fini statistici vengono registrati alcuni dati relativi all'accesso   al sito quali l’indirizzo di protocollo internet (IP), il sistema   operativo utilizzato dal computer dell’utente, il tipo di browser, ecc.
    %br
    Tali dati sono pubblicati sul nostro sito sotto forma di informazioni   statistiche anonime sull'uso del sito e utilizzate per verificare il   corretto funzionamento del sito. Questi dati sono cancellati dopo   l'elaborazione.
    %br
    Inoltre, sono impiegati  cookies per registrare le  informazioni di sessione dell'utente e garantire le funzionalità di  autenticazione e prenotazione. Questi restano validi per la sola durata  della sessione di navigazione. Non viene fatto uso di cookies per la   trasmissione di informazioni di carattere personale.
    %br
    I dati  potrebbero essere utilizzati per  l’accertamento di responsabilità in  caso di ipotetici reati informatici  ai danni del sito.
  %h5 Dati forniti volontariamente dall’utente
  %p{style:  'text-align: justify;'}
    Specifiche informative di sintesi (disclaimer) che contengono le   informazioni previste per legge (responsabile del trattamento, finalità,   natura obbligatoria o facoltativa del dato, destinatari dei dati   raccolti, diritto di accesso e rettifica, periodo di conservazione dei   dati, possibilità di cancellazione dall’iscrizione) sono riportate o   visualizzate nelle pagine del sito predisposte per particolari servizi a   richiesta, ove sia prevista la raccolta di dati personali  individuali   (nome, posta elettronica,  indirizzo, ecc). In alternativa potranno essere riportati su opportuni moduli consegnati agli interessati al momento dell'iscrizione.
    %br
    Il mancato inserimento di dati obbligatori da parte dell’utente comporta l’impossibilità di erogazione del servizio richiesto.
    %br
    I dati registrati potranno anche essere utilizzati per rapporti statistici sulla nostra attività.
  %h3 Modalità del trattamento
  %p{style:  'text-align: justify;'} I dati sono trattati principalmente con strumenti elettronici e   informatici, memorizzati sia su supporti informatici che su supporti   cartacei nel rispetto delle misure di sicurezza. Il Consorzio Sistema  Bibliotecario Nord Ovest  adotta misure di sicurezza  tecniche e organizzative al fine di garantire  la sicurezza dei dati,  quali  l’utilizzo di firewall, impianti server  sicuri, criptaggio,  selezione dei soggetti incaricati del trattamento e  altre ragionevoli  misure di natura tecnica atte a garantire una tutela  adeguata dei dati  personali dell’utente contro l’utilizzo o la  divulgazione non  autorizzata degli stessi.
  %h3 Diritti degli interessati
  %p{style:  'text-align: justify;'}
    I soggetti cui si riferiscono i dati personali hanno il diritto in   qualunque momento di ottenere la conferma dell’esistenza o meno dei   medesimi dati e di conoscerne il contenuto e l’origine, verificarne   l’esattezza o chiederne l’integrazione o l’aggiornamento, oppure la   rettificazione (art. 7 del d.lgs. n. 196/2003).
    %br
    Ai sensi del medesimo   articolo hanno il diritto di chiedere la cancellazione, la   trasformazione in forma anonima o il blocco dei dati trattati in   violazione di legge, nonché di opporsi in ogni caso, per motivi   legittimi, al loro trattamento.
    %br
    Le richieste vanno rivolte al [Name Here].