%footer{role: 'contentinfo'}
  .container
    .row.gridwidget-row
      .col-md-6
        %section.WidgetHolder.MenuWidget.first
          %header
            %h4
              Link Utili
            %ul
              %li.internal
                %a{href: netiquette_path}
                  Netiquette
              %li.internal
                %a{href: privacy_path}
                  Privacy
      .col-md-2
      .col-md-2
    #statenment.row
      .col-md-12
        %p.pull-left
          Powered by
          %a{href: 'http://rubyonrails.org'}
            Rails
        %p.pull-right
          %a{href: '#'}
            Credits