%nav.sidebar-offcanvas{role: 'navigation'}
  .container
    .sidebar-bottom
      .offcanvas-row
        %a.offcanvas-btn{href: '#', data: {'toggle': 'modal', 'target': '#loginModal'}}
          Login