%form{action: '#', role: 'search'}
  .form-group
    .input-group
      %span.input-group-addon
        %i.fa.fa-search
      %input#appendInputButton.form-control{placeholder: 'Ricerca nel Catalogo', title: 'Inserisci un valore di ricerca', type: 'text'}
      %span.input-group-btn
        %button.btn.btn-default{type: 'submit'}
          Cerca
    %span.links
      %a{href: '#'}
    %span.links.pull-right
      %a{href: '#'}