/* Footer + statement */

footer[role="contentinfo"] {
  background: $brand-primary;
  color: $navbar-default-link-color;
  padding-top: 20px;
  font-size: 0.9em;
  h1, h2, h3, h4, h5 {
    color: $navbar-default-link-color;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  }
  a {
    color: $navbar-default-link-color;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  #statement {
    font-size:0.9em;
    text-shadow:none;
    margin:10px;
    p, a {
      margin:0;
      padding:0;
    }
    a:hover,a:focus{
      text-decoration: underline;
    }
  }
}