%a.cover.cover-loaded{href: book_path(locals[:book]), title: "#{locals[:book].title}"}
  .cover-overlay.adjust-size
  .cover-border.left
  %img{src: locals[:book].cover.url, title: 'Vai al dettaglio', 'property': 'image'}